@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: white;
}

#root {
  min-height: 100vh;
}

.thin-icon {
  stroke-width: 0.5px !important;
}
.regular-icon {
  stroke-width: 1px !important;
}

@keyframes gradientLoop {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient-animate {
  background: linear-gradient(
    45deg,
    #e0f2fe,
    #bfdbfe,
    #ffffff,
    #bfdbfe,
    #e0f2fe
  );
  background-size: 400% 400%;
  animation: gradientLoop 3s ease infinite;
}

.upload-area {
  background-color: #e8e8f4;
  transition: all 0.3s ease;
}

.upload-area:hover,
.upload-area:active {
  background: linear-gradient(
    45deg,
    #f0f9ff,
    #e0f2fe,
    #ffffff,
    #e0f2fe,
    #f0f9ff
  );
  background-size: 400% 400%;
  animation: gradientLoop 8s ease infinite;
}
